.App {
  text-align: center;
}

.words {
  margin: 10px;
}

.originalword {
  margin: 10px;
}

.links {
  font-size: 40px;
  background-color: aqua;
  min-width: 200px;
  text-align: center;
}

.links:hover {
  background-color: red;
}

.header {
  display: flex;
  justify-content: center;
  background-color: lightslategray;
}
